/* @import "org.css"; */
h1 {
    line-height: 1em;
}
pre.src {
    overflow: auto;
    font-family: monospace;
}

/* inline code =code= or ~code~ */
:not(pre) > code {
    padding: 2px 5px;
    margin: auto 1px;
    border: 1px solid #DDD;
    border-radius: 3px;
    background-clip: padding-box;
    color: #333;
}

body {
    font-family: monospace;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    font-size: 14px;
    line-height: 1.4em;
}
@media screen and (min-width: 600px) {
    body {
        font-size: 16px;
    }
}

blockquote {
    margin: 1em 2em;
    padding-left: 1em;
    border-left: 3px solid #ccc;
}

iframe {
    margin: 0 auto;
    display: block;
}
